.icon-arrow {
  position: relative;
  width:100%;
  margin-top:183px;

}
.icon-arrow  i:first-child {
 //position: absolute;
  display: inline-block;
  width: 100%;
  height: 1.0416vw;
  background-color: black;
  left: 0rem;
  top: 0rem;
}
.icon-arrow > i+i {
  //position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 1.0416vw solid transparent;
  border-top: 1.0416vw solid black;
  left: 33.8203125rem;
  top: 1.0416vw;
}
