@font-face {
  font-family: 'helveticace-cond';
  src: url('../fonts/helveticace-cond-webfont.woff2') format('woff2'),
  url('../fonts/helveticace-cond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue-bold';
  src: url('../fonts/helvetica-neue-bold-webfont.woff2') format('woff2'),
  url('../fonts/helvetica-neue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue-regular';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
  url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
