$enable-flex: true;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1205px
);

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "./_arrow.scss";
@import "./_fonts.scss";
body {
  font-family: "helvetica-neue-bold";
  color: black;
  //overflow-y: hidden;
}

$font-size-15: calc(7px + 0.41666vw);
$font-size-20: calc(10px + 0.52083vw);
$font-size-38: calc(19px + 0.98958vw);
$font-size-40: calc(20px + 1.04166vw);
$font-size-80: calc(22px + 3.02083vw);
$font-size-158: calc(24px + 6.97916vw);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.title {
  font-size: $font-size-38;
  letter-spacing: 0.15625vw;
}

.paragraph {
  font-family: "helvetica-neue-regular";
  font-size: $font-size-20;
  font-weight: bold;
  letter-spacing: 0.10416vw;
  line-height: 1.66;
}

.header {
  align-items: baseline;
  //font-weight: bold;
  margin-top: 24px;
  .left{
    @extend .col-xs-5, .col-sm-4, .col-md-3, .col-lg-3, .col-xl-3, .az-clothing;
  }
  .right {
    @extend .col-xs-7, .col-sm-7, .col-md-3, .col-lg-3, .col-xl-3, .offset-sm-1, .offset-md-6, .offset-lg-6, .offset-xl-6, .signup;
  }
  .az-clothing {
    .az {
      font-size: $font-size-40;
    }
    .clothing {
      font-size: $font-size-15;
    }
  }

  .signup {
    text-align: end;
    .signup-text {
      font-size: $font-size-15;
    }
  }
}

.section1 {
  padding-left: 0.15625vw;
  padding-right: 0.78125vw;
  margin-top: 133px;
  line-height: 0.9;
  font-weight: bold;

  .section1-designer {
    font-size: $font-size-158;
    letter-spacing: 0.3125vw;
  }
  .section1-designer2 {
    @extend .section1-designer;
    line-height: 75%;
  }
  .az {
    padding-top: 47px;
    font-size: $font-size-80;
    width: 100%;
  }
}

.hyphen {
  align-self: center;
  flex-grow: 2;
  height: 1.0416vw;
  background: black;
  padding-right: 0.78125vw;
}

.section2 {
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 178px;
  > div {
    @extend .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12;
    @extend .offset-xs-2, .offset-sm-2, .offset-md-2, .offset-lg-2, .offset-xl-2;
  }
  .sign-left {
    font-family: "helveticace-cond";
    font-size: 20.83vw;
    margin-left: -450px;
  }
  .sign-right {
    font-family: "helveticace-cond";
    font-size: 400px;
    line-height: 0.045;
    margin-right: -430px;
  }
}

.form-subscribe {
  padding-top: 50px;
  display: flex;
}

.button-subscribe {
  color: #fff;
  text-decoration: none;
  background-color: black;
  border: none;
  width: calc(60px + 4.9479vw);
  height: calc(20px + 4.1666vw);
  font-size: $font-size-20;
  font-weight: bold;
  align-self: flex-end;
  margin-left: 0.677vw;
}

.input-subscribe {
  //box-sizing: border-box;
  //max-width: 31.25vw;
  width: 100%;
  min-width:160px;
  max-width:31vw;
  height: calc(20px + 4.1666vw);
  border-color: black;
  border-width: 0.3125vw;
  border-style: solid;
  box-shadow: none;
  padding-left: 1.0416vw;
  align-self: flex-start;
  flex-grow: 1;
  font-size: $font-size-20;
  letter-spacing: 1px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: black;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.footer {
  @extend .header;
  margin-top: 300px;
  margin-bottom: 20px;

}
